#torch==1.4.0
#torchvision==0.5.0
easydict
matplotlib
opencv-python
glob3
pillow==8.1.1
dill
dominate>=2.3.1 
scikit-image==0.16.2
QDarkStyle==2.7
qdarkgraystyle==1.0.2
tensorboard==1.14.0
tensorboardX==1.9
tqdm==4.43.0
urllib3==1.25.8
visdom==0.1.8.9

